
# --- Environment Variables & Secrets ---

.env
.env.local
.env.*.local
*.env
*.pem
*.key
*-secret
*.cert

# --- Node.js / JavaScript / TypeScript ---
node_modules/
/jspm_packages/
.npm/
.eslintcache
.parcel-cache
.turbo/
.vercel
dist/
build/