.bg-light {
  background-color: rgb(152, 204, 255) !important;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  gap: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar > a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-info {
  display: flex;
}
.hidden-user,
.hidden-date {
  filter: blur(3px);
}
